@media screen and(max-width:600px) {
  /*mobile*/

  // start home page
  @keyframes card {
    from {
      top: 130px;
    }
    to {
      top: 80px;
    }
  }
  @keyframes text-img {
    0% {
      top: 150px;
    }
    100% {
      top: 100px;
    }
  }
  .container {
    .vl-header {
      display: none;
    }
    .khat-body {
      display: none;
    }
  }
  .header-home {
    display: grid;
    grid-template-rows: 0.3fr 1fr;
    grid-template-columns: 1fr;
    .header-right {
      .background {
        display: grid;
        grid-template-rows: 1fr;
        nav {
          display: none;
        }
        .txt-header {
          margin: 10px;
          p {
            width: 280px;
          }
          a {
            margin-bottom: 40px;
          }
        }
      }
    }
    .header-left {
      display: grid;
      grid-template-rows: 1fr;
      align-items: center;
      justify-items: start;
      .card-header {
        position: static;
        align-items: flex-start;
        img {
          width: 50%;
        }
        h1 {
          display: none;
        }
        p {
          display: none;
        }
      }
      .iconbar {
        display: none;
      }
    }
  }
  .section-about {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: none;
    margin: 8px;
    .section1-right {
      padding: 0;
      margin: 0%;
      img {
        max-width: 100%;
      }
      .card-img {
        top: 150px;
        left: 170px;
        letter-spacing: 2px;
        font-size: 0.5rem;
        padding: 5px;
      }
    }
    .section1-left {
      padding: 0;
      p {
        font-size: 0.6rem;
      }
    }
  }
  .section-project {
    .imgs {
      width: 320px;
      .img1 {
        &:hover {
          img {
            background-image: linear-gradient(
              180deg,
              rgba(0, 0, 0, 0.904),
              rgba(0, 0, 0, 0.877)
            );
          }
          .card-img-project {
            animation: card 0.2s linear both;
          }
          .khat-project {
            animation: khat2 1s cubic-bezier(0.61, 0.61, 0, 0.26) both;
          }
        }
        .card-img-project {
          top: 130px;
          right: 65px;
        }
      }
      .img2 {
        display: none;
      }
    }
    .txt-project {
      padding: 0 10px;
      h1 {
        margin: 1px;
      }
    }
  }
  .section-services {
    .services-card {
      display: flex;
      flex-direction: column;
      padding: 0;
      .card-1 {
        width: 280px;
      }
      .card-2 {
        width: 280px;
      }
      .card-3 {
        width: 280px;
      }
    }
    .services-text {
      margin: 5px 20px;
    }
  }
  .section-news {
    .text-news {
      padding: 10px;
    }
    .news-card-img {
      .img1 {
        .text-img1 {
          padding: 8px 10px;
          letter-spacing: 2px;
          font-size: 0.5rem;
          top: 150px;
        }
      }
      .img2 {
        display: none;
      }
    }
  }
  .section-client {
    .background-client {
      margin: 20px 0;
      width: 100%;
      height: 600px;
      .card-client {
        top: 180px;
        right: 5px;
        width: 260px;
        padding: 25px;
        .jason {
          display: flex;
          img {
            margin: 10px;
            max-width: 25%;
            border-radius: 50%;
          }
          .text-jason {
            h1 {
              letter-spacing: 2px;
              margin: 2px;
            }
          }
        }
      }
      .play-client {
        margin: 10px;
        top: 10px;
        left: 10px;
        h3 {
          margin: 5px;
          letter-spacing: 3px;
        }
      }
      .iconbar-client {
        top: 570px;
        width: 100%;
        img {
          width: 20%;
          margin: 2px 15px;
          &:nth-child(4) {
            display: none;
          }
          &:nth-child(5) {
            display: none;
          }
        }
      }
    }
  }
  .footer {
    display: flex;
    flex-direction: column;
    .row1 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 10px 0;
      div {
        margin: 2px 10px;
      }
    }
    .row2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px 0;
      div {
        margin: 5px 10px;
        &:nth-child(1) {
          p {
            margin: 0;
          }
        }
        &:nth-child(2) {
          margin: 0;
        }
        &:nth-child(3) {
          margin: 0;
        }
      }
    }
  }
  // end home page

  // start about page
  body {
    .dibag {
      display: none;
    }
  }
  .about {
    display: grid;
    grid-template-rows: 0.3fr 1fr;
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
    .header-right-about {
      height: 500px;
      .background-about {
        display: grid;
        grid-template-rows: 1fr;
        height: 500px;
        .navigation-about {
          display: none;
        }
        .txt-header {
          margin: 10px;
          p {
            width: 280px;
          }
          a {
            margin-bottom: 40px;
          }
        }
      }
    }
    .header-left-about {
      display: grid;
      grid-template-rows: 1fr;
      align-items: center;
      justify-items: start;
      .card-header {
        position: static;
        align-items: flex-start;
        img {
          width: 50%;
        }
        h1 {
          display: none;
        }
        p {
          display: none;
        }
      }
      .iconbar {
        display: none;
      }
    }
  }
  .section-about {
    .section1-right {
      .line1-about {
        display: none;
      }
      .line2-about {
        display: none;
      }
      .line3-about {
        display: none;
      }
    }
  }
  .section-team {
    margin: 100px 10px;
    .img-team {
      .card2-team {
        display: none;
      }
      .card3-team {
        display: none;
      }
    }
  }
  // end about page

  // start pricing page
  body {
    .dibag-pricing {
      display: none;
    }
    .header-pricing {
      display: grid;
      grid-template-rows: 0.3fr 1fr;
      grid-template-columns: 1fr;
      width: 100%;
      height: auto;
      .header-right-pricing {
        height: 500px;
        .background-pricing {
          display: grid;
          grid-template-rows: 1fr;
          height: 500px;
          .navigation {
            display: none;
          }
          .txt-header {
            margin: 10px;
            p {
              width: 280px;
            }
            a {
              margin-bottom: 40px;
            }
          }
        }
      }
      .header-left-pricing {
        display: grid;
        grid-template-rows: 1fr;
        align-items: center;
        justify-items: start;
        .card-header {
          position: static;
          align-items: flex-start;
          img {
            width: 50%;
          }
          h1 {
            display: none;
          }
          p {
            display: none;
          }
        }
        .iconbar {
          display: none;
        }
      }
    }
    .section-pricing {
      margin: 50px 0;
      display: grid;
      grid-template-rows: 0.2fr 2fr;
      .text-pricing {
        margin: 5px;
        display: flex;
        align-items: center;
        h1 {
          margin: 5px;
        }
      }
      .card-pricing {
        display: flex;
        flex-direction: column;
        width: 100%;
        .card1-pricing {
          margin: 20px 10px 20px 10px;
        }
        .card2-pricing {
          margin: 20px 10px 20px 10px;
        }
        .card3-pricing {
          margin: 20px 10px 20px 10px;
        }
      }
    }
  }
  // end pricing page

  // start process page
  body {
    .dibag-process {
      display: none;
    }
    .header-process {
      display: grid;
      grid-template-rows: 0.3fr 1fr;
      grid-template-columns: 1fr;
      width: 100%;
      height: auto;
      .header-right-process {
        height: 500px;
        .background-process {
          display: grid;
          grid-template-rows: 1fr;
          height: 500px;
          .navigation {
            display: none;
          }
          .txt-header {
            margin: 10px;
            p {
              width: 280px;
            }
            a {
              margin-bottom: 40px;
            }
          }
        }
      }
      .header-left-process {
        display: grid;
        grid-template-rows: 1fr;
        align-items: center;
        justify-items: start;
        .card-header {
          position: static;
          align-items: flex-start;
          img {
            width: 50%;
          }
          h1 {
            display: none;
          }
          p {
            display: none;
          }
        }
        .iconbar {
          display: none;
        }
      }
    }
    .section-process {
      display: grid;
      grid-template-rows: 0.5fr 5fr;
      .text-process {
        margin: 10px;
      }
      .card-img {
        .img-arrow {
          .img1-pro {
            display: none;
          }
          .img2-pro {
            display: none;
          }
          .img3-pro {
            display: none;
          }
        }
        .card-process {
          display: flex;
          flex-direction: column;
          position: relative;
          .icon-card1-pro {
            display: flex;
            flex-direction: column;
            align-items: center;
            i {
              position: static;
            }
            .card1-pro {
              display: flex;
              flex-direction: column;
              position: static;
              width: 250px;
              margin: 10px 0;
              padding: 15px;
            }
          }
          .icon-card2-pro {
            display: flex;
            flex-direction: column;
            align-items: center;
            i {
              position: static;
            }
            .card2-pro {
              display: flex;
              flex-direction: column;
              position: static;
              width: 250px;
              margin: 10px 0;
              padding: 15px;
            }
          }
          .icon-card3-pro {
            display: flex;
            flex-direction: column;
            align-items: center;
            i {
              position: static;
            }
            .card3-pro {
              display: flex;
              flex-direction: column;
              position: static;
              width: 250px;
              margin: 10px 0;
              padding: 15px;
            }
          }
          .icon-card4-pro {
            display: flex;
            flex-direction: column;
            align-items: center;
            i {
              position: static;
            }
            .card4-pro {
              display: flex;
              flex-direction: column;
              position: static;
              width: 250px;
              margin: 10px 0;
              padding: 15px;
            }
          }
        }
      }
    }
  }
  // end process page

  // start blog page
  body {
    .dibag-blog {
      display: none;
    }
    .header-blog {
      display: grid;
      grid-template-rows: 0.3fr 1fr;
      grid-template-columns: 1fr;
      width: 100%;
      height: auto;
      .header-right-blog {
        height: 500px;
        .background-blog {
          display: grid;
          grid-template-rows: 1fr;
          height: 500px;
          .navigation {
            display: none;
          }
          .txt-header {
            margin: 10px;
            p {
              width: 280px;
            }
            a {
              margin-bottom: 40px;
            }
          }
        }
      }
      .header-left-blog {
        display: grid;
        grid-template-rows: 1fr;
        align-items: center;
        justify-items: start;
        .card-header {
          position: static;
          align-items: flex-start;
          img {
            width: 50%;
          }
          h1 {
            display: none;
          }
          p {
            display: none;
          }
        }
        .iconbar {
          display: none;
        }
      }
    }
    .section-blog {
      .text-blog {
        margin: 5px;
      }
      .card-blog {
        width: 300px;
        .card1-blog {
          display: flex;
          flex-direction: column;
          .card1-text-blog {
            .card1-text2-blog {
              h3 {
                letter-spacing: 2px;
                font-size: 0.8rem;
              }
              h5 {
                letter-spacing: 3px;
              }
            }
            .card1-text1-blog{
              h1{
                font-size: 2rem;
              }
            }
          }
        }
        .card2-blog {
          display: flex;
          flex-direction: column-reverse;
          .card2-text-blog {
            .card2-text2-blog {
              h3 {
                letter-spacing: 2px;
                font-size: 0.8rem;
              }
              h5 {
                letter-spacing: 3px;
              }
            }
            .card2-text1-blog{
              h1{
                font-size: 2rem;
              }
            }
          }
        }
        .card3-blog {
          display: flex;
          flex-direction: column;
          .card3-text-blog {
            .card3-text2-blog {
              h3 {
                letter-spacing: 2px;
                font-size: 0.8rem;
              }
              h5 {
                letter-spacing: 3px;
              }
            }
            .card3-text1-blog{
              h1{
                font-size: 2rem;
              }
            }
          }
        }
        .card4-blog {
          display: flex;
          flex-direction: column-reverse;
          .card4-text-blog {
            .card4-text2-blog {
              h3 {
                letter-spacing: 2px;
                font-size: 0.8rem;
              }
              h5 {
                letter-spacing: 3px;
              }
            }
            .card4-text1-blog{
              h1{
                font-size: 2rem;
              }
            }
          }
        }
      }
    }
  }
  // end blog page

  // start read more
  body{
  .dibag-read {
    display: none;
  }
  .read{
    width: 300px;
  } 
  .form{
    display: flex;
    flex-direction: column;
    margin: 10px;
    .left{
      width: 300px;
      margin: 10px;
    }
  }
}
  // end read more 
}
@media screen and(min-width:600px) and(max-width:960px) {
  /* tablet*/
  // start home page
  @keyframes khat {
    from {
      width: 80px;
    }
    to {
      width: 180px;
    }
  }
  @keyframes card {
    from {
      top: 75px;
    }
    to {
      top: 55px;
    }
  }
  @keyframes text-img {
    0% {
      top: 210px;
    }
    100% {
      top: 180px;
    }
  }
  .container {
    .vl-header {
      &:nth-child(3) {
        top: 450px;
      }
      &:nth-child(4) {
        top: 500px;
      }
    }
    .khat-body {
      position: absolute;
      &:nth-child(1) {
        top: 0px;
        left: 115px;
        width: 1px;
        height: 1000px;
        background-color: #7979795d;
        z-index: -1;
      }
      &:nth-child(2) {
        top: 0px;
        left: 370px;
        width: 1px;
        height: 1000px;
        background-color: #7979795d;
        z-index: -1;
      }
      &:nth-child(3) {
        top: 0px;
        left: 400px;
        width: 1px;
        height: 1000px;
        background-color: #7979795d;
        z-index: -1;
      }
      &:nth-child(4) {
        top: 0px;
        left: 655px;
        width: 1px;
        height: 1000px;
        background-color: #7979795d;
        z-index: -1;
      }
    }
  }
  .header-home {
    .header-right {
      .background {
        grid-template-rows: none;
        nav {
          display: none;
        }
      }
    }
    .header-left {
      .iconbar {
        top: 300px;
      }
    }
  }
  .section-about {
    .section1-right {
      img {
        max-width: 100%;
      }
      .card-img {
        top: 135px;
        left: 155px;
        letter-spacing: 2px;
        font-size: 0.5rem;
        padding: 5px;
      }
    }
    .section1-left {
      p {
        font-size: 0.6rem;
      }
    }
  }
  .section-project {
    .imgs {
      width: 530px;
      .img2 {
        .card-img-project {
          top: 75px;
          right: 35px;
        }
      }
      .img1 {
        .card-img-project {
          top: 75px;
          right: 36px;
        }
      }
    }
  }
  .section-services {
    .services-card {
      padding: 10px;
      .card-1 {
        width: 180px;
      }
      .card-2 {
        width: 180px;
      }
      .card-3 {
        width: 180px;
      }
    }
  }
  .section-news {
    .text-news {
      padding: 5px 40px;
    }
    .news-card-img {
      .img1 {
        .text-img1 {
          top: 210px;
          letter-spacing: 4px;
          padding: 10px 2px;
          width: 290px;
          font-size: 0.5rem;
        }
      }
      .img2 {
        .text-img2 {
          top: 210px;
          letter-spacing: 4px;
          padding: 10px 2px;
          width: 290px;
          font-size: 0.5rem;
        }
      }
    }
  }
  .section-client {
    .background-client {
      .card-client {
        top: 45px;
      }
      .play-client {
        left: 45px;
      }
      .iconbar-client {
        img {
          &:nth-child(4) {
            display: none;
          }
          &:nth-child(5) {
            display: none;
          }
        }
      }
    }
  }
  // end home page

  // start about page
  body {
    .dibag {
      display: none;
    }
  }
  .about {
    display: grid;
    grid-template-rows: 0.3fr 1fr;
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
    .header-right-about {
      .background-about {
        display: grid;
        grid-template-rows: 1fr;
        height: 400px;
        nav {
          display: none;
        }
      }
    }
    .header-left-about {
      display: grid;
      grid-template-rows: 1fr;
      align-items: center;
      justify-items: start;
      .card-header {
        position: static;
        top: 1px;
        h1 {
          display: none;
        }
        p {
          display: none;
        }
      }
    }
  }
  .section-about {
    margin: 40px;
    .section1-right {
      .line1-about {
        display: none;
      }
      .line2-about {
        display: none;
      }
      .line3-about {
        display: none;
      }
      .card-img {
        top: 160px;
        left: 180px;
        letter-spacing: 3px;
        font-size: 0.8rem;
        padding: 10px;
      }
    }
  }
  .section-team {
    margin: 0 50px;
    .img-team {
      .card2-team {
        .banner-img2 {
          top: 380px;
        }
      }
      .card1-team {
        .banner-img1 {
          top: 380px;
        }
      }
      .card3-team {
        display: none;
      }
    }
  }
  // end about page

  // start pricing page
  body {
    .dibag-pricing {
      &:nth-child(3) {
        display: none;
      }
      &:nth-child(4) {
        display: none;
      }
    }
    .header-pricing {
      display: grid;
      grid-template-rows: 0.3fr 1fr;
      grid-template-columns: 1fr;
      width: 100%;
      height: auto;
      .header-right-pricing {
        .background-pricing {
          display: grid;
          grid-template-rows: 1fr;
          height: 500px;
          .navigation {
            display: none;
          }
          .txt-header {
            margin: 10px;
            p {
              width: 280px;
            }
            a {
              margin-bottom: 40px;
            }
          }
        }
      }
      .header-left-pricing {
        display: grid;
        grid-template-rows: 1fr;
        align-items: center;
        justify-items: start;
        .card-header {
          top: 1px;
        }
      }
    }
    .section-pricing {
      margin: 50px 0;
      display: grid;
      grid-template-rows: 0.2fr 2fr;
      justify-content: center;
      .text-pricing {
        margin: 5px;
        display: flex;
        align-items: center;
        h1 {
          margin: 5px;
        }
      }
      .card-pricing {
        display: flex;
        width: 100%;
        .card1-pricing {
          margin: 20px 10px 20px 10px;
          width: 210px;
          .tik1 {
            p {
              letter-spacing: normal;
            }
          }
        }
        .card2-pricing {
          margin: 20px 10px 20px 10px;
          width: 210px;
          .tik1 {
            p {
              letter-spacing: normal;
            }
          }
        }
        .card3-pricing {
          margin: 20px 10px 20px 10px;
          width: 210px;
          .tik1 {
            p {
              letter-spacing: normal;
            }
          }
        }
      }
    }
    .footer {
      .row1 {
        margin: 0 20px;
      }
      .row2 {
        margin: 0;
      }
    }
  }
  // end pricing page

  // start process page
  body {
    @keyframes khat-proces {
      from {
        width: 80px;
      }
      to {
        width: 130px;
      }
    }
    .dibag-process {
      &:nth-child(3) {
        display: none;
      }
      &:nth-child(4) {
        display: none;
      }
    }
    .header-process {
      display: grid;
      grid-template-rows: 0.3fr 1fr;
      grid-template-columns: 1fr;
      width: 100%;
      height: auto;
      .header-right-process {
        height: 500px;
        .background-process {
          display: grid;
          grid-template-rows: 1fr;
          height: 500px;
          .navigation {
            display: none;
          }
          .txt-header {
            margin: 10px;
            p {
              width: 280px;
            }
            a {
              margin-bottom: 40px;
            }
          }
        }
      }
      .header-left-process {
        display: grid;
        grid-template-rows: 1fr;
        align-items: center;
        justify-items: start;
        .card-header {
          position: static;
          align-items: flex-start;
          img {
            width: 50%;
          }
          h1 {
            display: none;
          }
          p {
            display: none;
          }
        }
        .iconbar {
          display: none;
        }
      }
    }
    .section-process {
      display: grid;
      grid-template-rows: 0.5fr 5fr;
      .text-process {
        margin: 10px;
      }
      .card-img {
        .img-arrow {
          .img1-pro {
            display: none;
          }
          .img2-pro {
            display: none;
          }
          .img3-pro {
            display: none;
          }
        }
        .card-process {
          display: flex;
          position: relative;
          align-items: center;
          justify-content: center;
          .icon-card1-pro {
            display: flex;
            flex-direction: column;
            align-items: center;

            i {
              position: static;
            }
            .card1-pro {
              display: flex;
              flex-direction: column;
              position: static;
              width: 130px;
              margin: 10px;
              padding: 15px;
              h1 {
                font-size: 1.5rem;
              }
              h2 {
                letter-spacing: 4px;
                margin: 2px;
              }
              .khat-process {
                width: 30px;
                height: 1px;
              }
              &:hover {
                background-color: $card-color;
                box-shadow: 0px 6px 10px #141414;
                background-color: $hover-card;
                p {
                  color: $header-color;
                }
                h1 {
                  color: $header-color;
                }
                .khat-process {
                  animation: khat-proces 0.5s ease-out both;
                }
              }
            }
          }
          .icon-card2-pro {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 130px;
            i {
              position: static;
            }
            .card2-pro {
              display: flex;
              flex-direction: column;
              position: static;
              width: 130px;
              margin: 10px;
              padding: 15px;
              h1 {
                font-size: 1.5rem;
              }
              h2 {
                letter-spacing: 4px;
              }
              .khat-process {
                width: 30px;
                height: 1px;
              }
              &:hover {
                background-color: $card-color;
                box-shadow: 0px 6px 10px #141414;
                background-color: $hover-card;
                p {
                  color: $header-color;
                }
                h1 {
                  color: $header-color;
                }
                .khat-process {
                  animation: khat-proces 0.5s ease-out both;
                }
              }
            }
          }
          .icon-card3-pro {
            display: flex;
            flex-direction: column;
            align-items: center;
            i {
              position: static;
            }
            .card3-pro {
              display: flex;
              flex-direction: column;
              position: static;
              width: 130px;
              margin: 10px;
              padding: 15px;
              h1 {
                font-size: 1.5rem;
              }
              h2 {
                letter-spacing: 4px;
              }
              .khat-process {
                width: 30px;
                height: 1px;
              }
              &:hover {
                background-color: $card-color;
                box-shadow: 0px 6px 10px #141414;
                background-color: $hover-card;
                p {
                  color: $header-color;
                }
                h1 {
                  color: $header-color;
                }
                .khat-process {
                  animation: khat-proces 0.5s ease-out both;
                }
              }
            }
          }
          .icon-card4-pro {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 130px;
            i {
              position: static;
            }
            .card4-pro {
              display: flex;
              flex-direction: column;
              position: static;
              width: 130px;
              margin: 10px;
              padding: 15px;
              h1 {
                font-size: 1.5rem;
              }
              h2 {
                letter-spacing: 4px;
              }
              .khat-process {
                width: 30px;
                height: 1px;
              }
              &:hover {
                background-color: $card-color;
                box-shadow: 0px 6px 10px #141414;
                background-color: $hover-card;
                p {
                  color: $header-color;
                }
                h1 {
                  color: $header-color;
                }
                .khat-process {
                  animation: khat-proces 0.5s ease-out both;
                }
              }
            }
          }
        }
      }
    }
  }
  // end process page

  // start blog page
  body{
    .dibag-blog {
      &:nth-child(3) {
        display: none;
      }
      &:nth-child(4) {
        display: none;
      }
    }
    .header-blog {
      display: grid;
      grid-template-rows: 0.3fr 1fr;
      grid-template-columns: 1fr;
      width: 100%;
      height: auto;
      .header-right-blog {
        height: 500px;
        .background-blog{
          display: grid;
          grid-template-rows: 1fr;
          height: 500px;
          .navigation {
            display: none;
          }
          .txt-header {
            margin: 10px;
            p {
              width: 280px;
            }
            a {
              margin-bottom: 40px;
            }
          }
        }
      }
      .header-left-blog{
        display: grid;
        grid-template-rows: 1fr;
        align-items: center;
        justify-items: start;
        .card-header {
          position: static;
          align-items: flex-start;
          img {
            width: 50%;
          }
          h1 {
            display: none;
          }
          p {
            display: none;
          }
        }
        .iconbar {
          display: none;
        }
      }
    }
    .section-blog{
      .text-blog{
        margin: 30px;
        h1{
          margin: 1px;
        }
      }
      .card-blog{
        width: 730px;
        .card2-blog{ 
          .card2-text-blog{
            order: 2;
          }
        }
        .card4-blog{
          display: flex;
          flex-direction: column;
          margin: 20px 20px 100px 20px;
          .card4-text-blog{
            order: 2;
          }
        }
      }
    }
  }
  // end blog page

    // start read more
    body{
      .dibag-read {
        display: none;
      }
      .read{
        width: 650px;
      } 
      .form{
        display: flex;
        margin: 10px;
        .left{
          width: 400px;
          margin: 10px;
        }
        .right{
          margin: 0 0 0 10px;
        }
      }
    }
      // end read more 
}
@media screen and(min-width:960px) and(max-width:1264px) {
  /*laptop*/
  @keyframes text-img {
    0% {
      top: 250px;
    }
    100% {
      top: 200px;
    }
  }
  // start home page
  .container {
    .khat-body {
      position: absolute;
      &:nth-child(1) {
        top: 0px;
        left: 115px;
        width: 1px;
        height: 1000px;
        background-color: #7979795d;
        z-index: -1;
      }
      &:nth-child(2) {
        top: 0px;
        left: 500px;
        width: 1px;
        height: 1000px;
        background-color: #7979795d;
        z-index: -1;
      }
      &:nth-child(3) {
        top: 0px;
        left: 550px;
        width: 1px;
        height: 1000px;
        background-color: #7979795d;
        z-index: -1;
      }
      &:nth-child(4) {
        top: 0px;
        left: 890px;
        width: 1px;
        height: 1000px;
        background-color: #7979795d;
        z-index: -1;
      }
    }
  }
  .section-about {
    .section1-right {
      .card-img {
        top: 160px;
        left: 195px;
        letter-spacing: 3px;
        font-size: 0.8rem;
        padding: 10px;
      }
    }
  }
  .section-services {
    .services-card {
      padding: 1px;
    }
  }
  .section-news {
    .news-card-img {
      .img1 {
        .text-img1 {
          top: 250px;
        }
      }
      .img2 {
        .text-img2 {
          top: 250px;
        }
      }
    }
  }
  // end home page

  // start about page
  @keyframes banner {
    0% {
      top: 250px;
    }
    100% {
      top: 175px;
    }
  }
  body {
    .dibag {
      display: none;
    }
  }
  .section-about {
    .section1-right {
      .line1-about {
        display: none;
      }
      .line2-about {
        display: none;
      }
      .line3-about {
        display: none;
      }
    }
  }
  .section-team {
    .img-team {
      .card1-team {
        .banner-img1 {
          top: 255px;
        }
      }
      .card2-team {
        .banner-img2 {
          top: 255px;
        }
      }
      .card3-team {
        .banner-img3 {
          top: 255px;
        }
      }
    }
  }
  .section-client {
    .background-client {
      .card-client {
        top: 45px;
      }
      .play-client {
        left: 45px;
      }
      .iconbar-client {
        img {
          &:nth-child(5) {
            display: none;
          }
        }
      }
    }
  }
  // end about page

  // start pricing page
  body {
    .dibag-pricing {
      &:nth-child(4) {
        display: none;
      }
    }
    .section-pricing {
      .card-pricing {
        display: flex;
        flex-wrap: wrap;
        .card3-pricing {
          margin: 10px 0 0 130px;
        }
      }
    }
  }
  // end pricing page

  // start blog page
  .dibag-blog {
    &:nth-child(4) {
      display: none;
    }
  }
  // end blog page
}
